@charset "UTF-8";
.form_section {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.RouterLink {
  color: rgb(0, 0, 0);
}

.div_forms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input_class {
  padding: 5px 10px;
  background-color: rgb(49, 49, 49);
  color: rgb(30, 154, 30);
}

.input_class:focus {
  border: 1px solid green;
}

.textarea_section {
  height: 250px;
  resize: none;
}

.ul_class {
  padding: 5px 10px;
  background-color: rgb(55, 55, 55);
  color: rgb(30, 154, 30);
}

.ButtonOption_element {
  background-color: rgb(55, 55, 55);
  color: rgb(30, 154, 30);
  width: 100%;
  height: 100%;
  border: none;
}

.ButtonOption_element:hover {
  background: rgb(30, 154, 30);
  color: rgb(31, 31, 31);
}

.LiOption_element {
  display: flex;
  justify-content: start;
  cursor: pointer;
  background: rgb(55, 55, 55);
  padding: 7px 0;
  padding-right: 15px;
}

.LiOption_element:hover {
  background: rgb(30, 154, 30);
  color: rgb(31, 31, 31);
}

.LiOption_element.isDisappering {
  opacity: 0;
  translate: 0 -75%;
  transition-duration: 0.4s;
  pointer-events: none;
}

.LiOption_element.isDisappering ~ .LiOption_element {
  translate: 0 calc((100% + 8px) * -1);
  transition-duration: 0.2s;
  transition-delay: 0.2s;
  pointer-events: none;
}

.LiOption_element.isAppearing {
  animation: appear 0.4s;
  pointer-events: none;
}

@keyframes appear {
  from {
    opacity: 0;
    translate: 0 -75%;
  }
}
.error_addTopic {
  color: red;
}

.Span_Section {
  white-space: pre-wrap;
}

body {
  background-color: rgb(31, 31, 31);
  color: rgb(30, 154, 30);
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}

.button_element {
  padding: 5px 10px;
  background-color: rgb(49, 49, 49);
  color: green;
  border-radius: 5px;
  border: 2px solid black;
}

.button_element:hover {
  background-color: rgb(55, 55, 55);
  border: 2px solid green;
  transition: all ease 0.3s;
  scale: 1.04;
}

.button_element.active {
  background-color: rgb(55, 55, 55);
  border: 2px solid green;
  transition: all ease 0.3s;
}

.line_buttons {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}/*# sourceMappingURL=index.css.map */