.form_section {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.RouterLink {
  color: rgb(0, 0, 0);
}

.div_forms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input_class {
  padding: 5px 10px;
  background-color: rgb(49, 49, 49);
  color: rgb(30, 154, 30);
}
.input_class:focus {
  border: 1px solid green;
}

.textarea_section {
  height: 250px;
  resize: none;
}

.ul_class {
  padding: 5px 10px;
  background-color: rgb(55, 55, 55);
  color: rgb(30, 154, 30);
}

.ButtonOption_element {
  background-color: rgb(55, 55, 55);
  color: rgb(30, 154, 30);
  width: 100%;
  height: 100%;
  border: none;
}
.ButtonOption_element:hover {
  background: rgb(30, 154, 30);
  color: rgb(31, 31, 31);
}

.LiOption_element {
  display: flex;
  justify-content: start;
  cursor: pointer;
  background: rgb(55, 55, 55);
  padding: 7px 0;
  padding-right: 15px;
}
.LiOption_element:hover {
  background: rgb(30, 154, 30);
  color: rgb(31, 31, 31);
}
.LiOption_element.isDisappering {
  opacity: 0;
  translate: 0 -75%;
  transition-duration: 0.4s;
  pointer-events: none;
}
.LiOption_element.isDisappering ~ .LiOption_element {
  translate: 0 calc((100% + 8px) * -1);
  transition-duration: 0.2s;
  transition-delay: 0.2s;
  pointer-events: none;
}
.LiOption_element.isAppearing {
  animation: appear 0.4s;
  pointer-events: none;
}
@keyframes appear {
  from {
    opacity: 0;
    translate: 0 -75%;
  }
}

.error_addTopic {
  color: red;
}

.Span_Section {
  white-space: pre-wrap;
}

body {
  background-color: rgb(31, 31, 31);
  color: rgb(30, 154, 30);
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}

.button_element {
  padding: 5px 10px;
  background-color: rgb(49, 49, 49);
  color: green;
  border-radius: 5px;
  border: 2px solid black;

  @include mobile {
    border-radius: 2px;
    padding: 3px 6px; 
  }
}
.button_element:hover {
  background-color: rgb(55, 55, 55);
  border: 2px solid green;
  transition: all ease 0.3s;
  scale: 1.04;
}
.button_element.active {
  background-color: rgb(55, 55, 55);
  border: 2px solid green;
  transition: all ease 0.3s;
}

.line_buttons {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin mobile {
    @media(max-width: 500px) {
        @content;
    }
}